@model RealEstateProject.Models.Property

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img style="height: 250px" src="@Model.URL">
        <div class="caption">
            <h3>@Model.title</h3>
            <p>@Model.description</p>
            <p>
                <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary" role="button">Details</a>
                @if (User.IsInRole("Admin"))
                {
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info" role="button">Edit</a>
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" role="button">Delete</a>
                }
            </p>
        </div>
    </div>
</div>
